<%- include("../partials/header") %>

<div class="cards-container">
  <div class="card">
    <div class="card__left">
      <p>24<br><span>June</span></p>
    </div>
    <div class="card__right">
      <h3>Description</h3>
      <p>This is the first meeting.</p>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
