<%- include("../partials/header") %>

<a href="/meetings">Back</a>
<p>New Meeting</p>
<form action="/meetings" method="post">
  <label for="date">Date</label>
  <input type="date" name="meeting[date]" value="<%- new Date().toJSON().slice(0,10).replace(/-/g,'-') %>" required/>
  <label for="description">Description</label>
  <input type="text" name="meeting[description]"/>
  <input type="submit" value="Create"/>
</form>

<%- include("../partials/footer") %>
