<%- include("../partials/header") %>

<a href="/members">Back</a>
<p>Add Member</p>
<form action="/members" method="post">
  <label for="name">Name</label>
  <input type="text" name="member[name]" maxlength="50" required/>
  <label for="id">Student ID</label>
  <input type="text" name="member[id]" minlength="9" maxlength="9" required/>
  <label for="grade">Grade</label>
  <input type="number" name="member[grade]" value="9" min="9" max="12" required/>
  <label for="termCount">Terms in CSF</label>
  <input type="number" name="member[termCount]" value="0" min="0" max="7" required/>
  <label for="accessLevel">Position</label>
  <select name="member[accessLevel]" required>
    <option value="0">Member</option>
    <option value="1">Officer</option>
    <option value="2">Tutoring Coordinator</option>
    <option value="3">Developer</option>
  </select>
  <input type="submit" value="Add"/>
</form>

<%- include("../partials/footer") %>
