<%- include("../partials/header") %>

<div class="tabs">
  <div class="tabs__sidebar">
    <a class="tabs__link" href="/settings/permissions">Permissions</a>
    <a class="tabs__link" href="/settings/term-migration">Term Migration</a>
    <a class="tabs__link" href="/settings/backups">Backups</a>
    <a class="tabs__link tabs__link--active" href="/settings/diagnostics">Diagnostics</a>
  </div>
  <div class="tabs__content">
    <form class="form" action="/settings/diagnostics/run-test" method="get" onsubmit="return confirm('Are you sure you want to run a diagnostics test? This will not change anything.')">
      <div class="form__title">Diagnostics</div>
      <p class="form__description">
        Running a diagnostics tests will check the system for discrepancies that can be caused by unexpected errors. What the test confirms:
        <ul class="form__list">
          <li>Meetings, members, tutors, and tutees have unique dates/IDs</li>
          <li>Meetings' and members' attendance records match, with no duplicates</li>
          <li>Members, tutors, and tutees are correctly linked together</li>
        </ul>
      </p>
      <div class="form__item">
        <button class="form__button" type="submit">Run Diagnostics Test</button>
      </div>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
