<%- include("../partials/header") %>

<a class="link" href="/settings/permissions">Manage Permissions</a>
<br> <br>
<a class="link" href="/settings/term-migration">Term Migration</a>
<br> <br>
<a class="link" href="/settings/backups">Manage Backups</a>

<%- include("../partials/footer") %>
