<%- include("../partials/header") %>

<a href="/settings/permissions">Manage Permissions</a>
<br>
<a href="/settings/term-migration">Term Migration</a>
<br>
<a href="/settings/restore-from-backup">Restore from Backup</a>

<%- include("../partials/footer") %>
