<form class="form" action="/settings/term-migration?_method=put" method="post" enctype="multipart/form-data"
onsubmit="return confirm('Are you sure you are ready to migrate terms? This will wipe the database!')">
  <div class="form__title">Term Migration</div>
  <p class="form__description">
    Term Migration backs up and deletes all meetings, members, attendance records, tutors, and tutees.
    Upload an Excel file with the correct columns ("student_id" "name" "grade" "terms") to seed the database for the next term.
    Officers' permissions will be conserved as long as they are in the uploaded file of new members or you specify to not delete them.
    You will download a zip file of the database after the process of term migration.
  </p>
  <div class="form__item">
    <label class="form__label" for="ext">Save current database files as</label>
    <label class="form__label--radio" for="xlsx2">
      <input class="form__input--radio" id="xlsx2" type="radio" name="ext" value="xlsx" checked required/>
      <div class="form__input--radiocircle"></div>
      Microsoft Excel
    </label>
    <label class="form__label--radio" for="pdf2">
      <input class="form__input--radio" id="pdf2" type="radio" name="ext" value="pdf" required/>
      <div class="form__input--radiocircle"></div>
      PDF
    </label>
  </div>
  <div class="form__item">
    <label class="form__label" for="preserve">Do not delete</label>
    <label class="form__label--checkbox" for="preserveOfficers">
      <input class="form__input--checkbox" id="preserveOfficers" type="checkbox" name="preserveOfficers" value="true"/>
      <div class="form__input--checkboxsquare"></div>
      Officers
    </label>
    <label class="form__label--checkbox" for="preserveMeetings">
      <input class="form__input--checkbox" id="preserveMeetings" type="checkbox" name="preserveMeetings" value="true"/>
      <div class="form__input--checkboxsquare"></div>
      Meetings
    </label>
    <label class="form__label--checkbox" for="preserveTutors">
      <input class="form__input--checkbox" id="preserveTutors" type="checkbox" name="preserveTutors" value="true"/>
      <div class="form__input--checkboxsquare"></div>
      Tutors
    </label>
    <label class="form__label--checkbox" for="preserveTutees">
      <input class="form__input--checkbox" id="preserveTutees" type="checkbox" name="preserveTutees" value="true"/>
      <div class="form__input--checkboxsquare"></div>
      Tutees
    </label>
  </div>
  <div class="form__item">
    <label class="form__label form__label--pointer" for="newMembers">New Members</label>
    <div>
      <input class="form__input--file" id="newMembers" type="file" name="newMembers"
      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .csv" hidden/>
      <button class="form__input--filebutton" type="button" name="button">Choose an Excel file</button>
      <span class="form__input--filetext">No file chosen</span>
    </div>
  </div>
  <div class="form__item">
    <button class="form__button" type="submit">MIGRATE TERMS</button>
  </div>
</form>
