  <footer>
    <div class="contact">
      <p>For inquiries about the CSF attendance and tutoring applications, please contact <a href="mailto:mvhscsfclub@gmail.com">mvhscsfclub@gmail.com</a>.</p>
      <p>For more information on the club, visit <a href="http://mvhscsf.weebly.com/">the website</a>.</p>
    </div>
  </footer>
  <script src="/javascript/main.js"></script>
  </body>
</html>
