<!DOCTYPE html>

<html>
  <head>
  	<title>MVHS CSF</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <% reformatDate = function(date) {
      var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
      date = new Date(date);
      return(months[date.getMonth()] + ' ' + (date.getDate()+1) + ', ' + date.getFullYear());
    } %>
    <header>
      <nav>
        <a href="/" class="logo"><img src="/images/logo.png" alt="logo" width="60" height="60"/></a>
    		<div class="nav-links">
    	  <a href="/members/attendance" <% if (url.substring(0, 19) == "/members/attendance") { %> class="active" <% } %>>Check Attendance</a>
    	  <a href="/meetings" <% if (url.substring(0, 9) == "/meetings") { %> class="active" <% } %>>Meetings Overview</a>
        <% if(currentUser && currentUser.accessLevel >= 1) { %>
          <a href="/members" <% if (url.substring(0, 8) == "/members" && url.substring(8, 19) != "/attendance" && !query.from) { %> class="active" <% } %>>Members Overview</a>
        <% } %>
    	  <a href="">Tutoring</a>
        <% if(currentUser && currentUser.accessLevel >= 3) { %>
          <a href="/settings" <% if (url.substring(0, 9) == "/settings" || query.from && query.from.substring(0, 9) == "/settings") { %> class="active" <% } %>>Settings</a>
        <% } %>
    	  </div>
        <% if(!currentUser) { %>
          <a href="/login/google" class="login-button">Google Login</a>
        <% } else { %>
          <a href="/logout" class="login-button">Logout</a>
        <% } %>
    	  <!-- for mobile devices -->
    	  <div class="burger-container" onclick="toggleBurger(this)">
    		  <div class="burger1"></div>
    		  <div class="burger2"></div>
    		  <div class="burger3"></div>
        </div>
      </nav>
    </header>
    <p><%- flash.success %></p>
    <p><%- flash.info %></p>
    <p><%- flash.error %></p>
