<%- include("partials/header") %>

<p>Check Attendance</p>
<form class="" action="" method="get">
  <input type="text" name="member[id]" value="" placeholder="School ID" required/>
</form>

<%- include("partials/footer") %>
