.card {
  position: relative;
  min-height: 125px;
  width: 90%;
  max-width: 430px;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  padding: 10px 25px;
  align-items: center;
  align-content: center;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  color: #0d0925;
}

.card__footnote {
  display: block;
  color: #7b7992;
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: bold;
}

.card__description {
  font-size: 19px;
  color: #4e4a67;
  margin-top: 15px;
  line-height: 1;
  text-align: justify;
}

.card__icon {
  position: relative;
  top: 5px;
	margin-right: 3px;
}

.card__icon--link {
  color: #7b7992;
  cursor: pointer;
  transition: 0.2s;
}

.card__icon--link:hover {
  color: rgb(0,136,154);
}

.card__icon--right {
  float: right;
  top: 3px;
}

.card__dropdown {
  display: none;
  position: absolute;
  top: 0px;
  left: 432px;
  max-width: 132px;
  padding: 10px 0;
  z-index: 1;
  white-space: nowrap;
	background-color: rgb(255,255,255);
	border-radius: 0.5rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}

.card__dropdown--visible {
  display: block;
}

.card__dropdown-button {
  padding: 5px 15px;
  background: none;
  border: none;
  text-decoration: none;
  font-size: medium;
  font-weight: normal;
  color: rgb(0,0,0);
  cursor: pointer;
  transition: 0.1s;
}

.card__dropdown-button:hover {
  color: rgb(0,136,154);
}

.card__dropdown-button:focus {
  outline: none;
  color: rgb(0,136,154);
}

.card__modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.card__modal--visible {
  display: block;
}

.card__modal-content {
  width: 400px;
  margin: 150px auto;
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  background-color: #fefefe;
}

.card__modal-close {
  float: right;
  cursor: pointer;
  transition: 0.1s;
}

.card__modal-close:hover, .card__modal-close:focus {
  color: rgb(0,136,154);
}
