.footer {
	display: flex;
	position: relative;
	background: rgb(247,247,247);
}

.footer__section {
	flex: 1;
	text-align: center;
	padding: 10px;
}

.footer__link {
	text-decoration: none;
	color: rgb(0,128,154);
}

.footer__link:hover {
	text-decoration: underline;
}

.footer__p {
	margin-top: 20px;
}

.footer__hr {
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	background: rgba(0,0,0,0.2);
}

.footer__icon {
	position: relative;
  top: 6px;
	margin-right: 3px;
}
