.nav {
	display: flex;
	padding: 0.5% 2.5%;
	background-color: rgb(247,247,247);
}

.nav__logo {
	margin-right: auto;
}

.nav__section {
	display: flex;
	align-items: center;
}

.nav__link {
  display: block;
	position: relative;
  padding: 10px 20px;
	color: black;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.nav__link--excess {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.nav__link--active {
	color: #00889a;
}

.nav__link:hover {
  color: #00889a;
}

.nav__link--dropdown {
	z-index: 1;
	padding-right: 40px;
}

.nav__dropdown {
	position: absolute;
	padding: 10px 0px;
	top: 100%;
	left: 0;
	min-width: 200px;
	opacity: 0;
	visibility: hidden;
	background-color: white;
	border: 1px solid #dddddd;
	border-radius: 6px;
	box-shadow: 0 8px 24px 0 rgba(150,155,165,0.2);
	transform: translateY(7px);
}

.nav__link--dropdown:hover .nav__dropdown {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
	transition: 0.3s;
}

.nav__link--settings {
	padding-right: 30px;
	padding-bottom: 30px;
	margin-right: 10px;
}

.nav__icon {
	position: absolute;
	top: 7px;
}

.nav__icon--right-arrow {
	display: none;
	right: 19px;
}

.nav__button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	padding: 8px 25px;
	margin-left: 20px;
	color: rgb(237,240,241);
	background-color: rgba(0,136,154,1);
	border: none;
	border-radius: 50px;
	outline: none;
	transition: all 0.3s ease 0s;
}

.nav__button:hover {
	background-color: rgba(0,136,154,0.8);
}

.flash {
	position: static;
	margin-bottom: 6px;
	width: 100%;
	padding: 4px;
	background: rgb(204,204,204);
	color: rgb(51,51,51);
	border: 1px solid rgb(170,170,170);
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	transition: 0.2s;
}

.flash--success {
	background-color: rgb(0,192,42);
	border-color: rgb(0,157,34);
	color: rgb(255,255,255);
}

.flash--info {
	background-color: rgb(0,0,245);
	border-color: rgb(0,0,210);
	color: rgb(255,255,255);
}

.flash--error {
	background-color: rgb(213,0,0);
	border-color: rgb(186,0,0);
	color: rgb(255,255,255);
}

.burger {
  display: none;
	z-index: 10;
	margin-top: 15px;
  cursor: pointer;
}

.burger__1, .burger__2, .burger__3 {
  width: 35px;
  height: 3px;
  background-color: rgb(160,160,160);
  margin: 6px 0;
  transition: 0.4s;
}

.burger--active .burger__1 {
	background-color: rgb(235,235,235);
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.burger--active .burger__2 {
	background-color: rgb(235,235,235);
  opacity: 0;
}

.burger--active .burger__3 {
	background-color: rgb(235,235,235);
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
