* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.body-container {
	min-height: 100vh;
	margin: 0 2%;
}

.container {
	display: flex;
}

.green {
	color: rgb(0,192,42);
}

.red {
	color: rgb(213,0,0);
}

.blue {
	color: rgb(0,0,190);
}

.orange {
	color: rgb(255,140,0);
}

.link {
	text-decoration: none;
	color: rgb(0,128,154);
}

.link--underlined {
	text-decoration: underline;
	color: rgb(0,128,154);
}

.link--white {
	text-decoration: none;
	color: rgb(255,255,255);
}

.link--black {
	text-decoration: none;
	color: black;
}

.link--gray {
	color: rgb(130,130,130);
}

.link:hover, .link--white:hover, .link--black:hover {
	text-decoration: underline;
}

.form-link {
	display: inline;
}

.button-link {
  padding: 0;
	background: none;
  border: none;
	font-size: inherit;
  text-decoration: none;
	color: rgb(255,255,255);
  cursor: pointer;
}

.button-link:hover {
	text-decoration: underline;
}

.button-link:focus {
	outline: none;
	text-decoration: underline;
}

.no-drag {
	-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.no-select {
	-webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

/* mobile styles */
@media screen and (max-width:575px) {
	/* cards */
	.card__dropdown {
		top: 50px;
	  left: calc(100% - 132px);
	}
}

@media screen and (max-width:1020px) {
	.container--responsive {
		flex-direction: column;
	}

	/* header */
	.header {
	  position: -webkit-sticky;
	  position: sticky;
	  top: 0;
		z-index: 4;
	}

  .nav__section {
    display: none;
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.85);
		flex-direction: column;
		align-items: center;
		justify-content: center;
  }

	.nav__section--opened {
		display: flex;
	}

	.nav__link {
		color: rgb(235,235,235);
		margin-bottom: 50px;
	}

	.nav__link--dropdown {
		margin-left: auto;
		margin-right: auto;
	}

	.nav__dropdown {
		padding: 10px 0;
		min-width: 150%;
		background-color: rgba(0,0,0,0.85);
	}

	.nav__dropdown .nav__link {
		margin-bottom: 0;
	}

	.nav__icon--down-arrow {
		display: none;
	}

	.nav__icon--right-arrow {
		display: block;
	}

	.nav__button {
		margin-left: auto;
		margin-right: auto;
	}

  .burger {
    display: inline-block;
  }

	/* directory */
	.directory {
		margin-bottom: 10px;
	}

	/* footer */
	.footer {
		flex-direction: column-reverse;
	}

	/* forms */
	.form__input--responsive {
		width: calc(100% - 94px);
	}

	/* tables */
	.table__cell--grade, .table__cell--termCount, .table__cell--grade, .table__cell--email,
	.table__cell--phoneNum, .table__cell--maxTutees, .table__cell--paymentForm {
		display: none;
	}
}
