* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.body-container {
	min-height: 100vh;
	margin: 0 2%;
}

.green {
	color: rgb(0,192,42);
}

.red {
	color: rgb(213,0,0);
}

.blue {
	color: rgb(0,0,190);
}

.orange {
	color: rgb(255,140,0);
}

.link {
	text-decoration: none;
	color: rgb(0,128,154);
}

.link--underlined {
	text-decoration: underline;
	color: rgb(0,128,154);
}

.link--white {
	text-decoration: none;
	color: rgb(255,255,255);
}

.link--black {
	text-decoration: none;
	color: black;
}

.link--gray {
	color: rgb(130,130,130);
}

.link:hover, .link--white:hover, .link--black:hover {
	text-decoration: underline;
}

.form-link {
	display: inline;
}

.button-link {
  padding: 0;
	background: none;
  border: none;
	font-size: inherit;
  text-decoration: none;
	color: rgb(255,255,255);
  cursor: pointer;
}

.button-link:hover {
	text-decoration: underline;
}

.button-link:focus {
	outline: none;
	text-decoration: underline;
}

.no-drag {
	-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.no-select {
	-webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}
