@media screen and (max-width: 1050px) {
	/* header */
	.nav__link--excess {
		display: none;
	}

	/* forms */
	.form__input--responsive {
		width: calc(100% - 94px);
	}

	/* tables */
	.table__cell--email, .table__cell--max-tutees {
		display: none;
	}
}

@media screen and (max-width: 843px) {
	/* header */
	.header {
	  position: -webkit-sticky;
	  position: sticky;
	  top: 0;
		z-index: 4;
	}

	.nav__section {
    display: none;
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.85);
		flex-direction: column;
		align-items: center;
		justify-content: center;
  }

	.nav__section--opened {
		display: flex;
	}

	.nav__link {
		color: rgb(235,235,235);
		margin-bottom: 50px;
	}

	.nav__link--excess {
		display: block;
	}

	.nav__link--dropdown {
		margin-left: auto;
		margin-right: auto;
	}

	.nav__dropdown {
		padding: 10px 0;
		min-width: 150%;
		background-color: rgba(0,0,0,0.85);
		border: 1px solid black;
		box-shadow: 0 16px 32px 0 rgba(0,0,0,0.85);
	}

	.nav__dropdown .nav__link {
		margin-bottom: 0;
	}

	.nav__icon--down-arrow {
		display: none;
	}

	.nav__icon--right-arrow {
		display: block;
	}

	.nav__button {
		margin-left: auto;
		margin-right: auto;
	}

  .burger {
    display: inline-block;
  }

	/* footer */
	.footer {
		flex-direction: column-reverse;
	}

	/* tables */
	.table__cell--grade, .table__cell--term-count, .table__cell--phone-num, .table__cell--payment-form {
		display: none;
	}
}

@media screen and (max-width: 780px) {
	/* popups */
	.popup {
		top: calc(100% + 10px);
		left: -70px;
	}
	.popup::before {
		top: -16px;
		left: 33%;
	  border: 8px solid transparent;
		border-bottom: 8px solid #dddddd;
	}
	.popup::after {
		top: -14px;
		left: calc(33% + 1px);
	  border: 7px solid transparent;
		border-bottom: 7px solid white;
	}
	.popup--2 {
		top: 43px;
	  left: -20px;
	}
	.popup--2::before {
	  top: -16px;
	  left: 88%;
	}
	.popup--2::after {
	  top: -14px;
	  left: calc(88% + 1px);
	}
	.popup--3 {
		top: 104%;
	  left: 10px;
	}
	.popup--3::before {
		top: -16px;
	  left: 16%;
	}
	.popup--3::after {
		top: -14px;
	  left: calc(16% + 1px);
	}
}

@media screen and (max-width: 750px) {
	/* tabs */
	.tabs {
		flex-direction: column;
	}
	.tabs__sidebar {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 556px) {
	/* cards */
	.card__dropdown {
		top: 53px;
		right: 0;
		left: auto;
	}
}
