@media screen and (max-width:556px) {
	/* cards */
	.card__dropdown {
		top: 53px;
		right: 0;
		left: auto;
	}
}

@media screen and (max-width:610px) {
	/* popups */
	.popup {
		top: calc(100% + 10px);
		left: -70px;
	}
	.popup::after {
		top: -18px;
	  left: 33%;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 10px solid #fff;
	}
}

@media screen and (max-width: 750px) {
	/* tabs */
	.tabs {
		flex-direction: column;
	}
	.tabs__sidebar {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width:1020px) {
	/* header */
	.header {
	  position: -webkit-sticky;
	  position: sticky;
	  top: 0;
		z-index: 4;
	}

  .nav__section {
    display: none;
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.85);
		flex-direction: column;
		align-items: center;
		justify-content: center;
  }

	.nav__section--opened {
		display: flex;
	}

	.nav__link {
		color: rgb(235,235,235);
		margin-bottom: 50px;
	}

	.nav__link--dropdown {
		margin-left: auto;
		margin-right: auto;
	}

	.nav__dropdown {
		padding: 10px 0;
		min-width: 150%;
		background-color: rgba(0,0,0,0.85);
	}

	.nav__dropdown .nav__link {
		margin-bottom: 0;
	}

	.nav__icon--down-arrow {
		display: none;
	}

	.nav__icon--right-arrow {
		display: block;
	}

	.nav__button {
		margin-left: auto;
		margin-right: auto;
	}

  .burger {
    display: inline-block;
  }

	/* directory */
	.directory {
		margin-bottom: 10px;
	}

	/* footer */
	.footer {
		flex-direction: column-reverse;
	}

	/* forms */
	.form__input--responsive {
		width: calc(100% - 94px);
	}

	/* tables */
	.table__cell--grade, .table__cell--termCount, .table__cell--grade, .table__cell--email,
	.table__cell--phoneNum, .table__cell--maxTutees, .table__cell--paymentForm {
		display: none;
	}
}
