.table__wrapper {
	position: relative;
}

.table {
	border-collapse: collapse;
	margin: 10px 0;
	font-size: 0.9em;
	width: 100%;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	table-layout: auto;
}

.table::after {
	content: "";
	display: block;
	position: relative;
	width: 1000%;
	height: 2px;
	background-color: rgb(40,40,40);
}

.table--large {
	border-radius: 5px;
}

.table--large::after {
	height: 28px;
}

.table__head-row {
	background-color: rgb(40,40,40);
	color: rgb(255,255,255);
	text-align: left;
	font-weight: bold;
}

.table__body-row {
	border-bottom: 1px solid rgb(221,221,221);
	transition: 0.2s;
}

.table__body-row:nth-of-type(even) {
	background-color: rgb(243,243,243);
}

.table__body-row[data-href] {
	cursor: pointer;
}

.table__body-row:hover {
	background-color: rgb(243,243,243);
}

.table__cell {
	padding: 12px 15px;
}

.table__footnote {
	display: block;
	position: absolute;
	width: 100%;
	height: 28px;
	bottom: 0;
	left: 0;
	font-size: 12px;
	font-weight: 100;
	color: white;
	cursor: default;
}

.table__footnote-section--left {
	position: absolute;
	bottom: 6px;
	left: 7px;
}

.table__footnote-section--right {
	position: absolute;
	bottom: 6px;
	right: 7px;
	padding: 0 24px;
}

.table__footnote-selector {
	position: relative;
	cursor: pointer;
}

.table__footnote-selector:hover, .table__footnote-selector--active {
	text-decoration: underline;
}

.table__footnote-triangle {
	content: "";
	display: inline-block;
	vertical-align: middle;
  border-top: 5px solid white;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.table__footnote-dropdown {
	display: none;
	position: absolute;
	padding: 3px 0;
	top: 20px;
	left: -3px;
	color: black;
	font-weight: normal;
	background-color: white;
	border: 1px solid #dddddd;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 8px 24px 0 rgba(150,155,165,0.2);
	z-index: 2;
}

.table__footnote-dropdown--active {
	display: block;
}

.table__footnote-dropdown::after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: rgb(40,40,40);
}

.table__footnote-link {
	padding: 0 4px;
}

.table__footnote-link--inactive {
	display: none;
}

.table__footnote-link:hover {
	background-color: rgb(235,235,235);
}

.table__footnote-filter {
	padding: 2px 16px 2px 2px;
	margin-left: 5px;
	color: lightgray;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.table__footnote-close {
	position: absolute;
	top: 0px;
	right: 3px;
	font-size: 14px;
	color: white;
	cursor: pointer;
	transition: 0.15s;
}

.table__footnote-close:hover {
	color: #cf6679;
}

.table__footnote-arrow {
	position: absolute;
	top: -5px;
	color: white;
	cursor: pointer;
	transition: 0.15s;
}

.table__footnote-arrow--left {
	left: 0;
	transform: rotate(180deg);
}

.table__footnote-arrow:hover {
	color: lightgray;
}

.above-table {
	display: flex;
}

.above-table__section {
	position: relative;
}

.above-table__icon {
	position: relative;
  top: 6px;
	margin-right: 5px;
}

.above-table__button {
	font-weight: 300;
  font-size: 1.1em;
	text-decoration: none;
  padding: 8px 11px;
	margin-left: 3px;
  color: rgb(255,255,255);
  background: rgb(0,136,154);
	border: none;
  border-radius: 5px;
	white-space: nowrap;
	outline: none;
  transition: all 0.3s ease 0s;
}

.above-table__button:hover {
	background: rgb(0,128,145);
}
