.tabs {
  display: flex;
  height: 100%;
}

.tabs__sidebar {
  position: relative;
  width: 155px;
  height: 100%;
  margin-right: 13px;
  flex-shrink: 0;
  border-radius: 4px;
}

.tabs__links-container {
  margin-bottom: -3px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.tabs__link {
  display: block;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  color: black;
  background: #eeeeee;
}

.tabs__link--active {
  font-weight: bold;
  background: #dddddd;
  border-right: 2px solid rgb(0,128,154);
}

.tabs__link:not(:last-of-type) {
  border-bottom: 1px solid #cccccc;
}

.tabs__link:hover {
  background: #dddddd;
}

.tabs__button {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0;
  margin-top: 9px;
  color: rgb(255,255,255);
  background: rgb(0,136,154);
  border: 2px solid rgb(0,130,147);
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  transition: all 0.3s ease 0s;
}

.tabs__content {
  width: 100%;
}
