<%- include("../partials/header") %>

<div class="form__title">Sign Up as a Tutor</div><br>
<p class="form__description">You must login with your school Google account and be a member of CSF prior to signing up as a tutor.</p><br>
<a href="/login/google" class="form__button no-drag">Google Login</a>

<%- include("../partials/footer") %>
